
extends layout
block socketio
    script(src="/socket.io/socket.io.js")
    script(src="/client.js")

block content
    #content
        h2 Welcome to the protected zone!
        br
        label(for="chat_log") Chat Log:
        br
        textarea(id='chat_log', cols='100', rows='15', disabled='disabled')
        br
        input(id='chat_input', disabled='disabled', size='100', value='Type here to chat!')
        button(id='chat_submit', disabled='disabled') Chat
